<ion-content padding>
    <div class="singup-pagecontent">
            <h2 style="font-weight: bold;">Welcome to meed!</h2>
            <p style="color: gray;font-weight: 500;">Let us know your email so we can tell if you're on of us already.</p>
          <ion-input placeholder="Your email address" type="email" class="signup-email-input"></ion-input>
    </div>
    
</ion-content>
<ion-footer class="singup-footer">
    <ion-button (click)="gotoCreateLogin()" size="default" expand="block">Continue</ion-button>
  </ion-footer>
  