<ion-content padding class="create-account">
    <div class="create-account-pagecontent">
        <h2 style="font-weight: bold;">Nice to meed you!</h2>
        <p style="color: gray;font-weight: 500;">Create a password to make a new meed account</p>
        <ion-input placeholder="Email address" type="email" class="create-account-email-input"></ion-input>
        <ion-input placeholder="Password" type="password" class="create-account-password-input"></ion-input>
        <p style="color: gray;">Password must contain with: </p>
        <p>
            <ion-chip>
                <ion-label>Lowercase</ion-label>
            </ion-chip>
            <ion-chip color="success">
                <ion-label>Uppercase</ion-label>
            </ion-chip>
            <ion-chip color="success">
                <ion-label>Number</ion-label>
            </ion-chip>
            <ion-chip>
                <ion-label>Special sign</ion-label>
            </ion-chip>
            <ion-chip>
                <ion-label>8+ Character</ion-label>
            </ion-chip>
        </p>
    </div>

</ion-content>
<ion-footer class="create-account-footer">
    <ion-button (click)="gotoCreateLogin()" size="default" expand="block">Sign In</ion-button>
</ion-footer>