<ion-content class="loginpage" text-center padding>
    <video autoplay loop src="https://s3.amazonaws.com/prod-meed-www/meed_rising_above_hiking.mp4"></video>
    <div style="position: sticky;" text-center margin-top>
        <img id="meed-logo-img" src="assets/meed_white_logo.png" width="110"/>
      </div>
      <ion-row style="margin-top:12%">
        <ion-col col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2>
            <ion-row>
                <ion-col>
                  <ion-item clear>
                    <ion-label position="floating">Username</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item clear>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item no-lines clear>
                    <ion-label>Remember User</ion-label>
                    <ion-toggle></ion-toggle>
                  </ion-item>
                  <ion-item no-lines text-right clear>
                    <ion-label style="margin-right:5px"> Forget </ion-label>
                    <div item-content>
                      <a text-capitalize  tappable>Password</a> /
                      <a text-capitalize  tappable>Username</a> ?
                    </div>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row margin-top padding-top>
                <ion-col text-center>
                  <span style="color: #EFEFEE">Don’t have a Meed Account?</span>
                  <a text-uppercase>Join Now!</a>
                </ion-col>
              </ion-row>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer>
    <ion-button expand="full" (click)="goToDashBoard()">LOGIN</ion-button>
  </ion-footer>
