<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ion-tab-button class="tab-item" tab="inviteuser">
			<ion-icon name="sunny"></ion-icon>
			<ion-label>Home</ion-label>
		</ion-tab-button>

		<ion-tab-button class="tab-item" tab="internaltransfer">
			<ion-icon name="moon"></ion-icon>
			<ion-label>Move Money</ion-label>
		</ion-tab-button>
		<ion-tab-button class="tab-item" tab="p2ptransfer">
			<ion-icon name="moon"></ion-icon>
			<ion-label>Rewards</ion-label>
		</ion-tab-button>
		<ion-tab-button class="tab-item" tab="meedshare">
			<ion-icon name="moon"></ion-icon>
			<ion-label>Invite</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>