<ion-tabs>
 
    <ion-tab-bar class="dashboard-tab-bar" slot="bottom">
        <!-- <ion-tab-button tab="summary">
            <ion-icon name="sunny"></ion-icon>
            <ion-label>DASHBOARD</ion-label>
          </ion-tab-button> -->

      <ion-tab-button class="tab-item" tab="inviteuser">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>INVITE</ion-label>
      </ion-tab-button>
   
      <ion-tab-button class="tab-item" tab="internaltransfer">
        <ion-icon name="moon"></ion-icon>
        <ion-label>INTERNAL TRANSFER</ion-label>
      </ion-tab-button>
      <ion-tab-button class="tab-item" tab="p2ptransfer">
        <ion-icon name="moon"></ion-icon>
        <ion-label>P2P TRANSFER</ion-label>
      </ion-tab-button>
      <ion-tab-button class="tab-item" tab="meedshare">
        <ion-icon name="moon"></ion-icon>
        <ion-label>MEEDSHARE</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
    
   
  </ion-tabs>