<ion-content padding class="create-login">
	<ion-grid style="height: 100%">
		<ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
			<img id="meed-logo-img" width="110" src="https://s3.amazonaws.com/prod-meed-www/bank_logos/meed_white_logo.png">
			<p style="font-weight: 500;">
				<ion-text style="color:White">Earn More. </ion-text>
				<ion-text style="color:#97A8F0">Save more. </ion-text>
				<ion-text style="color: #687FDD">Do more. </ion-text>
			</p>

			<ion-button (click)="gotoCreateAccount()" color="light" fill="outline" class="ctr-btn"
				expand="block">Create New Account</ion-button>

			<ion-button (click)="gotoLoginScreen()" class="sign-btn" expand="block">Sign In</ion-button>
		</ion-row>
	</ion-grid>
</ion-content>